# 원본 데이터는 GitHub에 올리지 않음
data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Python
__pycache__/
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VSCode 개인 설정
.vscode/

# 임시 파일
*.tmp
*.log

#깃 이그노어
.gitignore

